*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-color: rgb(10, 44, 73);
    margin: 150px;
}

h1{
    color: white;
    font-weight: 400;
}

h2{
color: rgb(12, 121, 87);
font-weight: 400;
border-bottom: 3px solid rgb(12, 121, 87);
margin-bottom:20px;
display: flex;
}
.container{
    width:300px;
}

input{
    padding: 10px;
    width: 100%;
    border: 0;
    outline: 0;
    overflow: hidden;
    background-color: white;
}

img{
    width: 25px;
    cursor: pointer;
}
.input-Box button{
    outline: 0;
    border: 0;
    background: transparent;
    padding: 5px;


}
.input-Box{
    display: flex;
    border: 1px solid black;
    background-color: white;
}

.g-Btn{
    display: flex;
    justify-content: center;
    width: 200px;
    height: 50px;
    margin-top: 10px;
    padding: 10px;
    background-color: rgb(12, 121, 87);
    color: white;
    font-weight:lighter;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    font-size: 15px;
}
.g-Btn p{
    margin: 5px;
}
.g-Btn img{
    width: 20px;
    margin-top: 5px;
}